#ifndef WIFI_CREDENTIALS_H
#define WIFI_CREDENTIALS_H

// Copy this file to wifi_credentials.h and fill in your details
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASS "YOUR_PASSWORD"
#define MQTT_HOST "YOUR_MQTT_BROKER_IP"
#define MQTT_PORT 1883

#endif // WIFI_CREDENTIALS_H
